<!DOCTYPE html>
<html>
<head>
  <title>MetricLogs</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="content-div">
    <h1>Metrics - Map display</h1>
    <%= yield %>
  </div>

</body>
</html>
